@media (max-width:1210px),(max-device-width) {
    .header-top {
        padding: 0px 20px;
        margin-bottom: 30px;
    }

    .header-carousel-item{
        font-size: 25px;
        padding: 0px 20px;
    }
}

@media (max-width:1150px), (max-device-width:1150px) {
    .about-row{
        justify-content: space-around;
        margin-bottom:30px;
    }

    .about-item{
        margin-right: 0px;
    }
}
@media (max-width:850px), (max-device-width:850px) {
    .about{
        padding: 0px;
        margin-bottom: 75px;
    }

    .about-item{
        margin-top: 60px;
        padding: 10px;
    }
}
