* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    transition-duration: 1s;
}

header {
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    padding-top: 61px;
}

.header-wrapper {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 186px;
}

.header-menu {
    background-color: #ffdc34;
    padding: 15px;
    cursor: pointer;
}

.header-menu div {
    height: 4px;
    width: 23px;
    background-color: #3f3f3f;
    margin-bottom: 3px;
}

.header-carousel-item h2 {
    max-width: 756px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-carousel-item h3 {
    max-width: 800px;
    color: #bababa;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

.header-carousel-item button {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 42px;
    border: 2px solid #fff;
    cursor: pointer;
}

.owl-dot {
    width: 40px;
    height: 9px;
    border: 1px solid #a7a7a7;
    background: transparent;
    margin: 0px 10px;
}

.owl-dot.active {
    background: #ffdc34;
}

.owl-dot span {
    display: none !important;
}

.displayFromAsshole-wrapper {
    max-width: 1029px;
    margin: auto;
    padding-top: 60px;
}

.displayFromAsshole-wrapper img {
    width: 83%;
    display: block;
    margin: auto;
}

.displayFromAsshole-wrapper h2 {
    color: #646464;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.displayFromAsshole-wrapper h3 {
    color: #767676;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.about {
    background: #f5f5f5;
    padding: 65px 0px;
}

.about-wrapper {
    max-width: 1030px;
    margin: auto;
    margin-bottom: 30px;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.about-item {
    max-width: 416px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.about-item img {
    margin-right: 23px;
}

.about-item-text {
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-item-text h4 {
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0px;
}

.about-item-text span {
    color: #686868;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

/* weCreative */

.weCreative {
    padding: 50px 0px 100px 0px;
    background: url("../img/weCreative.png") no-repeat center;
    background-size: cover;
}

.weCreative-wrapper {
    max-width: 968px;
    margin: auto;
}

.weCreative-wrapper img {
    display: block;
    margin: auto;
}

.weCreative-wrapper h2 {
    color: #909090;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.weCreative-wrapper h3 {
    color: #767676;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

/* getInTouch */

.getInTouch {
    padding: 100px 0px;
    background: url("../img/getInTouch.png") no-repeat center;
    background-size: cover;
}

.getInTouch-wrapper {
    max-width: 968px;
    margin: auto;
}

.getInTouch-wrapper img{
    display: block;
    margin: auto;
}

.getInTouch-wrapper h2 {
    color: #909090;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.getInTouch-wrapper h3 {
    color: #767676;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}
